/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 @import "bootstrap-flex.css";
 // @import "font-awesome";
 html {
    width: 100%;
    height: 100%;
   body {
    background: #114B5F;

  }
}
.trimform {
  background-color: #456990;
  padding: 2em;
  margin: 3em;
  font-family: "MuseoSans-500";
}
@font-face {
    font-family: "MuseoSans-500";
}
.form-control {
  font-family: "MuseoSans-500";
}

.btn-primary {
  font-family: "MuseoSans-500";
}

.trimfield {
  background-color: #E4FDE1;
  color: #6BADAC;
}

.trimsubmit {
  background-color: #F45B69;
  color: white;
}

.row {
  display: flex;
}
